# maimaidx
MAIMAIDX_PATH=
MAIMAIDX_ALIAS_PROXY=false
SAVE_IN_MEM=true
ASSETS_ONLINE=true

# diving-fish
DIVINGFISH_TOKEN=
DIVINGFISH_PROBER_PROXY=false

# lxns
LXNS_DEV_TOKEN=
LX_CLIENT_ID=
LX_CLIENT_SECRET=
REDIRECT_URI=