aiofiles>=25.1.0
aiosqlite>=0.22.1
httpx>=0.28.1
httpx_ws>=0.9.0
loguru>=0.7.3
Pillow~=12.2.0
pydantic>=2.13.4
pydantic-settings>=2.14.1
python-dotenv>=1.2.2
pyecharts>=2.1.0
playwright>=1.60.0
sqlmodel>=0.0.38
numpy~=2.2.6
